<div class="container sarco-footer">
  <div class="row">
    <div class="col-md-2 d-none d-sm-block">
      <img src="{{site.baseurl}}/assets/img/logo-dark-square.png" class="img-fluid"/>
    </div>

    <div class="col-md-4 pt-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac efficitur magna. Etiam vel arcu sed augue laoreet ornare. Cras lectus mauris, ullamcorper vitae enim mollis, scelerisque varius nisi. Nam mattis vestibulum lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
    </div>

    <div class="col-hidden col-md-1 pt-5">
    </div>

    <div class="col pt-5">
      <ul class="pl-0">
        <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
        <li><a href="https://google.com" target="_blank">Google Maps</a></li>
      </ul>
    </div>

    <div class="col pt-5">
      <ul class="pl-0">
        <li><a href="/">Home</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
