<div class="container sarco-footer">
  <div class="row">
    <div class="col-md-2 d-none d-sm-block pt-5">
      <img src="{{site.baseurl}}/assets/img/logo-dark-square.png" class="img-fluid"/><br>
       <img src="{{site.baseurl}}/assets/img/board certified-200.jpg" class="img-fluid"/><br>
        <img src="{{site.baseurl}}/assets/img/NBTa-225.png" class="img-fluid"/><br>
     <img src="{{site.baseurl}}/assets/img/superlawyers-logo-white2.jpg" class="img-fluid"/>
    </div>

    <div class="col-md-4 pt-5">
      <p style="color: #000000;">If you think it's expensive to hire a professional to do the job, wait until you hire an amateur." -Red Adair</p>
    </div>

    <div class="col pt-5">
      <p style="color: #000000;">Del Prado Law<br>342 W. Woodlawn Ave.<br>Suite 302<br>San Antonio, TX 78212<br>210-526-1829<br><a href="mailto:mario@delpradolaw.com">mario@delpradolaw.com</a></p>
    </div>

  </div>
</div>
