<div class="container sarco-footer">
  <div class="row">
    <div class="col-md-2 d-none d-sm-block pt-5">
      <img src="{{site.baseurl}}/assets/img/logo-dark-square.png" class="img-fluid"/>
    </div>

    <div class="col-md-4 pt-5">
      <p>If you think it's expensive to hire a professional to do the job, wait until you hire an amateur." -Red Adair</p>
    </div>

    <div class="col-hidden col-md-1 pt-5">
    </div>

    <div class="col pt-5">
      <p>Del Prado Law<br>342 W. Woodlawn Ave.<br>Suite 302<br>San Antonio, TX 78212<br>210-526-1829</p>
    </div>

        <div class="col pt-5">
      <ul class="pl-0">
        <li><img src="{{site.baseurl}}/assets/img/board certified-200.jpg" class="img-fluid"/></li>
        <li><img src="{{site.baseurl}}/assets/img/NBTa-225.png" class="img-fluid"/></li>
        <li> <img src="{{site.baseurl}}/assets/img/superlawyers-logo-white-200-bg.jpg" class="img-fluid"/></li>
      </ul>
    </div>  

    <div class="col pt-5">
      <ul class="pl-0">
        <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
        <li><a href="https://google.com" target="_blank">Google Maps</a></li>
      </ul>
    </div>
  </div>
</div>
