<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo-dark-wide.png"/> </a>
    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <!-- add center nav content here-->
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="tel:2123241231">
            &#xF5BB; 212-324-1231
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>


