---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";


/* colors in use

Black #000
Dark Grey #111
Dark Red: #8C142B
Dark Blue: #05131E



*/

/* Global Styles */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}

h1 , h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Arial';
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}


.btn-dark {
  border-color: #8C142B;
  border-radius: 0;
  color: #fff;
  background-color: #8C142B;
  font-size: 24px;
  padding: 15px 60px;
}

.btn-dark:hover {
  color: #fff;
  background-color: #05131E;
}

.btn-dark:active {
  color: #fff;
  background-color: #05131E;
}

.btn-dark:focus {
  color: #fff;
  background-color: #05131E;
}

.light-section {
  background-color: #fff;
}

.light-section h3 {
  color: #000;
  font-size: 16px;
}

.dark-section {
  background-color: #05131E;
}

.dark-section h3 {
  color: #fff;
  font-size: 16px;
}



/* Nav */

.navbar-brand img {
  max-height: 90px;
}

.navbar-light {
  background-color: #fff;
}

.navbar-nav {
  font-family: 'Arial';
}

.nav-link {
  margin-left: 25px;
}

.nav-item a:hover {
  font-weight: 500;
  text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 1.75rem;
}

.nav-item .dropdown {
  margin-left: 25px;
  padding-top: 8px;
}

.dropdown-toggle:hover {
  color: red;
}

.nav-icon-20 {
  height: 20px;
}

.nav-icon-25 {
  height: 25px;
}


.navbar-light .navbar-toggler {
  border-color: #000;
  border-radius: 0;
}

.navbar-toggler-icon {
  color: #000;
  height: 2rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("{{site.baseurl}}/assets/img/texas.png");
  margin-bottom: 2px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-collapse .nav-item {
  padding-bottom: 10px;
}

.nav-icons .nav-item {
  width: 40px;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #000;
}

.nav-item a:hover {
  text-decoration: none;
}

.dropdown-menu {
  padding:0; 
  border-radius: 0;
}

.dropdown-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.phone-icon {
  width: 2rem;
  height: 2rem;
}


/* Footer */

.sarco-footer {
  color: #000;
  background-color: #fff;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #000;
  margin-top: -1px;
}

.sarco-footer p {
  text-align: justify;
  text-justify: inter-word;
  color: #000;
  font-size: 18px;
}

.sarco-footer li {
  list-style: none;
  margin-bottom: 10px;
}

.sarco-footer a {
  text-decoration: underline;
  color: #000;
}



/* Index */

#hero {
  padding-top: 25px;
  padding-bottom: 125px;
  background-color: #777;
  background-image: url("{{site.baseurl}}/assets/img/tx-bg-2.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

#hero p {
  padding-bottom: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

#hero p a {
  text-decoration: underline;
}

#hero p a:hover {
  color: #fff;
}

#hero img {
  border: 8px solid #05131E;
}

#sub-hero {
  padding-top: 100px;
  padding-bottom: 80px;
}

#sub-hero h5 {
  text-align: center;
  color: #000!important;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 15px;
}

#sub-hero p {
  text-align: center;
  color: #000!important;
  font-size: 18px;
}

#use-cases {
  padding-top: 60px;
  padding-bottom: 80px;
}

#use-cases h2 {
  padding-bottom: 30px;
}

.use-box {
  border: 1px solid #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.use-box p {
  color: #fff;
  font-size: 18px;
}

#partners {
  color: #000;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 100px;
}

#partners h2 {
  color: #000;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: right;
}

#partners p, li {
  font-size: 18px;
  font-weight: 700;
}



/* Alert Pages */
#alert-hero {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 150px;
}

#alert-hero h1 {
  font-size: 24px;
}


/* content pages */

.content-page {
  padding-top: 100px;
  padding-bottom: 120px;
}

.content-page h1 {
  font-size: 36px;
  padding-bottom: 30px;
}

.content-page p {
  padding-bottom: 20px;
}

.content-page span {
  text-decoration: underline;
}

.content-page p a {
  text-decoration: underline;
  color: #fff;
}

.content-page p a:hover {
  text-decoration: underline;
  color: #fff;
}

.content-page h4 {
  font-size: 1rem;
  font-weight: 800;
  color: green;
}

.content-page h5 {
  font-size: 1rem;
  font-weight: 800;
  color: yellow;
}

.content-page h6 {
  font-size: 1rem;
  font-weight: 800;
  color: red;
}


/* blog */

#blog-post {
  padding-top: 50px;
  padding-bottom: 150px;
}

#blog-post p {
  font-size: 1rem;
  padding-bottom: 20px;
}

#blog-post h2 {
  font-size: 2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

#blog-post h3 {
  font-size: 1.25rem;
  font-weight: 800;
}

#blog-post h4 {
  font-size: 1rem;
  font-weight: 800;
  color: green;
}

#blog-post h5 {
  font-size: 1rem;
  font-weight: 800;
  color: yellow;
}

#blog-post h6 {
  font-size: 1rem;
  font-weight: 800;
  color: red;
}

#blog-post a {
  text-decoration: underline;
  color: #fff;
}

#blog-post a:hover {
  text-decoration: underline;
  color: #fff;
}

#blog-post em {
  font-weight: 800;
}

#blog-post img {
  padding-top: 15px;
  padding-bottom: 50px;
}

#blog-post li {
  font-size: 1rem;
}

#blog-listing h4 {
  padding-bottom: 15px;
}

#blog-listing a {
  text-decoration: underline;
  color: #fff;
}

#blog-listing a:hover {
  text-decoration: underline;
  color: #fff;
}

#blog-post code {
  background-color: #1D1E21;
  color: #51A2CA;
  font-size: 100%;
}


/* Form */

#partners form {

}

#partners img {
  padding-bottom: 30px;
}

label {
  display: inherit;
}

.form-field {

}

.form-field input, textarea{
    width: 100%;
    padding: 13px;
}

.form-field input, textarea {
  font-family:inherit;
  font-size: 18px;
}

.form-btn {
  width: 100%;
}


/* Media Queries for Mobile*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  #hero {
    padding-top: 150px;
    padding-bottom: 150px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  #hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  #hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  #hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
